<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.seegeneAI.testServer.dao.db1.MariaEPTestCodeDao">

	<insert id="saveMariaEPTestCodeList" parameterType="com.seegeneAI.db2MariaDBMapper.data.EPTestCodeDto">
        INSERT INTO TB_EP_TEST_CODE
			(LMB_CODE, 
			TEST_CODE, 
			SPECIMEN_CODE, 
			TEST_SUB_CODE, 
			DEPARTMENT_CODE, 
			DEPARTMENT_NAME, 
			TEST_NAME, 
			SPECIMEN_NAME, 
			WORK_NAME, 
			DATA_TYPE, 
			USE_FLAG, 
			CREATION_DATE, 
			UPDATE_DATE, 
			USER_ID)
		values
			(
			#{lmbCode}, 
			#{testCode}, 
			#{specimenCode}, 
			#{testSubCode}, 
			#{departmentCode}, 
			#{departmentName}, 
			#{testName}, 
			#{specimenName}, 
			#{workName}, 
			#{dataType}, 
			#{useFlag}, 
			#{creationDate}, 
			#{updateDate}, 
			#{userId}
			)
		ON DUPLICATE KEY UPDATE
			LMB_CODE 		= #{lmbCode}, 
			TEST_CODE 		= #{testCode}, 
			SPECIMEN_CODE 	= #{specimenCode}, 
			TEST_SUB_CODE 	= #{testSubCode}, 
			DEPARTMENT_CODE = #{departmentCode}, 
			DEPARTMENT_NAME = #{departmentName}, 
			TEST_NAME 		= #{testName}, 
			SPECIMEN_NAME 	= #{specimenName}, 
			WORK_NAME 		= #{workName}, 
			DATA_TYPE 		= #{dataType}, 
			USE_FLAG 		= #{useFlag}, 
			CREATION_DATE 	= #{creationDate}, 
			UPDATE_DATE 	= #{updateDate}, 
			USER_ID 		= #{userId}
    </insert>

</mapper>

