<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.seegeneAI.testServer.dao.db1.MariaEPTestCommentDao">

	<insert id="saveMariaEPTestCommentList" parameterType="com.seegeneAI.db2MariaDBMapper.data.EPTestCommentDto">
        INSERT INTO TB_EP_TEST_COMMENT
			(LMB_CODE, 
			RECEIPT_DATE, 
			RECEIPT_NO, 
			TEST_CODE, 
			SPECIMEN_CODE, 
			COMMENT_CODE, 
			COMMENT, 
			CREATION_DATE, 
			UPDATE_DATE, 
			USER_ID)
		values
			(
			#{lmbCode}, 
			#{receiptDate}, 
			#{receiptNo}, 
			#{testCode}, 
			#{specimenCode}, 
			#{commentCode}, 
			#{comment}, 
			#{creationDate}, 
			#{updateDate}, 
			#{userId}
			)
		ON DUPLICATE KEY UPDATE
			LMB_CODE 			= #{lmbCode}, 
			RECEIPT_DATE 		= #{receiptDate}, 
			RECEIPT_NO 			= #{receiptNo}, 
			TEST_CODE 			= #{testCode}, 
			SPECIMEN_CODE 		= #{specimenCode}, 
			COMMENT_CODE 		= #{commentCode}, 
			COMMENT 		= #{comment}, 
			CREATION_DATE 		= #{creationDate}, 
			UPDATE_DATE 		= #{updateDate}, 
			USER_ID 			= #{userId}
    </insert>

</mapper>

